@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base */
html,
body {
  height: 100%;
}

body {
  @apply bg-white text-gray-900 antialiased;
}

/* Components */
@layer components {
  .luxury-card {
    @apply bg-white rounded-xl shadow-lg p-6;
  }

  .btn-primary {
    @apply bg-black text-white px-6 py-3 rounded-full hover:opacity-90;
  }

  .heading-1 {
    @apply text-5xl font-bold;
  }
}
